.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: Geometria;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 62px;
  color: black;
  margin-top: 2%;
  margin-left: 50px;
}

.form {
  font-family: Geometria;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.input {
  width: 320px;
  height: 30px;
  padding-left: 10px;
  line-height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 2% 0%;
}

.button {
  cursor: pointer;
  width: 180px;
  height: 45px;
  margin-left: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #FFFDDD;
  color: black;
  font-weight: bold;
  border-radius: 20px;
}

.button:hover{
  background-color: gray;
}

input[type='checkbox'] {
  display: none;
}

.box::before {
  content: '\00A0';
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 6px;
  vertical-align: baseline;
  text-align: center;
  font-family: Geometria, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: white;
}

input[type='checkbox']:checked + .box::before {
  content: '\2713';
}

.checkbox {
  cursor: pointer;
  user-select: none;
}

.error{
  color: red;
  margin: 1% 0%;
}

.none{
  display: none;
}
