.mainPage {
  display: flex;
  flex-direction: column;
}

.navigation {
  min-width: 250px;
  height: 100vh;
  width: 25vw;
  background-color: #FFFDDD;
  display: flex;
  flex-direction: column;
}

.menuBlock {
  width: 100%;
  height: 70px;
  background: #FFFDDD;
  font-family: Geometria;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.icon {
  margin-right: 15px;
  margin-left: 22px;
}

.link {
  fill: gray;
  text-decoration: none;
  color: gray;
}

.selected {
  color: #FFFDDD;
  background-color: gray;
  min-width: 280px;
  width: 25vw;
  height: 70px;
  display: flex;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  justify-content: center;
}

